<!--/////////////////////////////////////////////////-->
<!--//PAGE FOR THE EXTENSIONS BACKEND IN LNBITS//////-->
<!--/////////////////////////////////////////////////-->

{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('extension_builder_stub/static', path='js/index.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <!-- << cancel_comment >>
    <% if settings_table.has_settings %>
    << cancel_comment >> -->
    <q-card>
      <q-card-section class="q-pa-sm">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <span class="text-h5">extension_builder_stub_name</span>
          </div>
          <div class="col-md-6 col-sm-12">
            <q-btn
              @click="showSettingsDataForm()"
              v-if="<% if settings_table.is_admin_settings_only %>g.user.admin<% else %>true<% endif %>"
              unelevated
              split
              color="primary"
              icon="settings"
              class="float-right"
            >
            </q-btn>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <!-- << cancel_comment >>
    <% endif %>
    << cancel_comment >> -->

    <div class="q-mt-lg">
      <span class="text-h5">Owner Data</span>
    </div>
    <q-card class="q-mt-xs">
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <q-input
              :label="$t('search')"
              dense
              class="q-pr-xl"
              v-model="ownerDataTable.search"
            >
              <template v-slot:before>
                <q-icon name="search"> </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="ownerDataTable.search !== ''"
                  name="close"
                  @click="ownerDataTable.search = ''"
                  class="cursor-pointer"
                >
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-auto">
            <q-btn
              @click="showNewOwnerDataForm()"
              unelevated
              split
              color="primary"
            >
              New Owner Data
            </q-btn>
            <q-btn
              flat
              color="grey"
              icon="file_download"
              @click="exportOwnerDataCSV"
              >CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="ownerDataList"
          row-key="id"
          :columns="ownerDataTable.columns"
          v-model:pagination="ownerDataTable.pagination"
          :loading="ownerDataTable.loading"
          @request="getOwnerData"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  icon="launch"
                  color="primary"
                  type="a"
                  :href="props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                  ><q-tooltip>Open public page</q-tooltip></q-btn
                >
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="showEditOwnerDataForm(props.row)"
                  icon="edit"
                  color="light-blue"
                  class="q-mr-sm"
                >
                  <q-tooltip> Edit </q-tooltip>
                </q-btn>

                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteOwnerData(props.row.id)"
                  icon="cancel"
                  color="pink"
                  class="q-mr-sm"
                >
                  <q-tooltip> Delete </q-tooltip>
                </q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <div v-if="col.field == 'updated_at'">
                  <span v-text="dateFromNow(col.value)"> </span>
                </div>
                <div v-else>${ col.value }</div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>

    <div class="q-mt-lg">
      <span class="text-h5">Client Data</span>
    </div>
    <q-card class="q-mt-xs">
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <q-input
              :label="$t('search')"
              dense
              class="q-pr-xl"
              v-model="clientDataTable.search"
            >
              <template v-slot:before>
                <q-icon name="search"> </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="clientDataTable.search !== ''"
                  name="close"
                  @click="clientDataTable.search = ''"
                  class="cursor-pointer"
                >
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-auto">
            <q-select
              filled
              dense
              emit-value
              v-model="clientDataFormDialog.ownerDataId"
              :options="[{label: 'All Owner Data', value: ''}, ...ownerDataList.map(x => ({label: x.name || x.id, value: x.id}))]"
              label="Owner Data"
              class="q-mb-md"
            ></q-select>
          </div>
          <div class="col-auto">
            <q-btn
              flat
              color="grey"
              icon="file_download"
              @click="exportClientDataCSV"
              >CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="clientDataList"
          row-key="id"
          :columns="clientDataTable.columns"
          v-model:pagination="clientDataTable.pagination"
          :loading="clientDataTable.loading"
          @request="getClientData"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="showEditClientDataForm(props.row)"
                  icon="edit"
                  color="light-blue"
                  class="q-mr-sm"
                >
                  <q-tooltip> Edit </q-tooltip>
                </q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <div v-if="col.field == 'updated_at'">
                  <span v-text="dateFromNow(col.value)"> </span>
                </div>
                <div v-else>${ col.value }</div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} extension_builder_stub_name
        </h6>
        <p>extension_builder_stub_description</p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "extension_builder_stub/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "extension_builder_stub/_extension_builder_stub.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

  <!--/////////////////////////////////////////////////-->
  <!--//////////////FORM DIALOG////////////////////////-->
  <!--/////////////////////////////////////////////////-->

  <!-- << cancel_comment >>
  <% if settings_table.has_settings %>
  << cancel_comment >> -->
  <q-dialog v-model="settingsFormDialog.show" position="top">
    <q-card
      v-if="settingsFormDialog.show"
      class="q-pa-lg q-pt-xl lnbits__dialog-card q-col-gutter-md"
    >
      <span class="text-h5">Settings</span>
      <!-- << cancel_comment >>
      << extension_builder_stub_settings_inputs >>
      << cancel_comment >> -->
      <div class="row q-mt-lg">
        <q-btn @click="updateSettings" unelevated color="primary" type="submit"
          >Update</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </div>
    </q-card>
  </q-dialog>
  <!-- << cancel_comment >>
  <% endif %>
  << cancel_comment >> -->

  <q-dialog v-model="ownerDataFormDialog.show" position="top">
    <q-card
      v-if="ownerDataFormDialog.show"
      class="q-pa-lg q-pt-md lnbits__dialog-card q-col-gutter-md"
    >
      <span class="text-h5">Owner Data</span>

      <!-- << cancel_comment >>
      << extension_builder_stub_owner_inputs >>
      << cancel_comment >> -->
      <div class="row q-mt-lg">
        <q-btn @click="saveOwnerData" unelevated color="primary">
          <span v-if="ownerDataFormDialog.data.id">Update</span>
          <span v-else>Create</span>
        </q-btn>
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </div>
    </q-card>
  </q-dialog>

  <q-dialog v-model="clientDataFormDialog.show" position="top">
    <q-card
      v-if="clientDataFormDialog.show"
      class="q-pa-lg q-pt-md lnbits__dialog-card q-col-gutter-md"
    >
      <span class="text-h5">Client Data</span>

      <!-- << cancel_comment >>
      << extension_builder_stub_client_inputs >>
      << cancel_comment >> -->
      <div class="row q-mt-lg">
        <q-btn @click="saveClientData" unelevated color="primary">
          <span v-if="clientDataFormDialog.data.id">Update</span>
          <span v-else>Create</span>
        </q-btn>
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %}
